# Created by .ignore support plugin (hsz.mobi)

.idea

*.pyc
__pycache__
app1/__pycache__/
app1/migrations/__pycache__/
db.sqlite3
djangoTestTodo/__pycache__/
todo/__pycache__/
todo/migrations/__pycache__/

mysql.cnf
*.log
.djangoTestTodo_uwsgi.ini
*.sock
djangoTestTodo_uwsgi.ini
nohup.out